<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brand.name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @brand.logo %>
</p>

<ul>
  <% @products.each  do |product| %>
  <li> 
    <p class="user-name"></p> 
    <p><%= product.name %></p>
    <p><%= product.description  %></p>
    <p><%= product.image %></p>
    <p><%= product.price_retail %></p>  
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
